<main class="col-md-10 offset-md-2 px-0" style="min-height: 100vh; margin-left: 60px">
    <div class="px-5 py-4">
        <h2 class="fw-bold mb-4" style="font-size: 40px;">Создание категории доходов</h2>

        <form class="d-flex flex-column gap-3" style="max-width: 397px;">
            <input
                    class="form-control"
                    id="category-name"
                    placeholder="Название..."
                    type="text"
            />

            <div class="d-flex gap-2">
                <button class="btn btn-success" type="submit">Создать</button>
                <a class="btn btn-danger" href="/category-profit">Отмена</a>
            </div>
        </form>
    </div>
</main>
