<div class="container-lg d-flex align-items-center justify-content-center vh-100">
    <div class="" style="max-width: 400px; width: 100%;">
        <div class="text-center mb-5">
            <img src="/images/Logo.png" style="height: 71px; width: 171px;"/>
        </div>
        <h2 class="text-center mb-4">Вход</h2>
        <form id="loginForm" novalidate>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input class="form-control" id="email" placeholder="Электронная почта" required type="email">
                </div>
                <div class="invalid-feedback">Введите корректный email</div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input class="form-control" id="password" placeholder="Пароль" required type="password">
                </div>
                <div class="invalid-feedback">Введите пароль</div>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" id="rememberMe" type="checkbox" value="">
                <label class="form-check-label" for="rememberMe">
                    Запомнить меня
                </label>
            </div>
            <button class="btn btn-primary w-100" disabled id="process" type="button">Войти</button>
        </form>
        <p class="text-left mt-3">
            Ещё нет аккаунта? <a href="/sign-up">Пройдите регистрацию</a>
        </p>
    </div>
</div>
