<div class="container-lg d-flex justify-content-center align-items-center vh-100">
    <div class="" style="max-width: 500px; width: 100%;">
        <div class="text-center mb-5">
            <img alt=" logo" src="/images/Logo.png" style="height: 71px; width: 171px;">
        </div>
        <h3 class="form-title text-center mb-4" style="font-size: 40px">Создайте аккаунт</h3>
        <form id="registerForm" novalidate>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input class="form-control" id="name" placeholder="Имя" required type="text">
                    <div class="invalid-feedback">Имя с большой буквы, только русские буквы и пробелы.</div>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input class="form-control" id="last-name" placeholder="Фамилия" required type="text">
                    <div class="invalid-feedback">Фамилия с большой буквы, только русские буквы и пробелы.</div>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input class="form-control" id="email" placeholder="Электронная почта" type="email">
                    <div class="invalid-feedback">Введите корректный email.</div>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input class="form-control" id="password" placeholder="Пароль" type="password">
                    <div class="invalid-feedback">
                        Минимум 8 символов, одна заглавная буква и одна цифра.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input class="form-control" id="passwordRepeat" placeholder="Подтверждение пароля" type="password">
                    <div class="invalid-feedback">Пароли должны совпадать.</div>
                </div>
            </div>
            <button class="btn btn-primary w-100" disabled id="process" type="button">Войти</button>
        </form>
        <p class="text-center mt-3">
            Уже есть аккаунт? <a href="/login">Войдите в систему</a>
        </p>
        <div class="text-danger text-center mt-3" id="loginError" style="display: none;"></div>

    </div>
</div>

